<div class="parent relative animate__animated animate__slideInUp">
    <img class="full-width image-styles" src="../../../assets/images/marathi/banner.jpg" id="banner"/>
    <div class="absolute top top-text">
        <!-- <div class=" center"> -->
        <div class="animate__animated animate__backInLeft bg-names">
            Deepika
        </div>
        <div class="alive-section bg-names">
            &amp;
        </div>
        <div class="animate__animated animate__backInRight animate__delay-1s bg-names">
            Ranveer
        </div>
        <!-- </div> -->
        <div>

        </div>


        <div>

        </div>
    </div>
    <div class="bottom bottom-text center-text">
        <p class="typewriter-without-caret type type1 ">
            Inviting you
        </p>
    </div>
</div>