<div class="parent">
    <div id="map"></div>
    <div class="details relative">
        <div class="title center wow animate__animated animate__tada">
            Wedding Venue
        </div>
        <div class="wow venue-description center animate__animated animate__bounceInRight">
            Inviting you to the most beautiful wedding destination in india.
            <br>
            Under the blue sunny sky, besides the serene waters, nestled amidst the serene countryside of lush paddy plantations.
            <br>
            OMG! It's GOA...!
        </div>
        <i class="fa fa-map-marker-alt marker-pin center"></i>
        <div class="venue-address card wow animate__animated animate__bounceInRight animate__delay-1s">
            ITC Grand Goa Resort and Spa,Arossim Beach, Cansaulim,South Goa - 403712,
            <br>
            Goa, India.
        </div>

        <div class="time-to-the-event center">
            <div class="title">
                Date & Time
            </div>
            <div class="value">
                13 May 2021, 12:05pm.
            </div>
        </div>

        <div class="travel-suggestion absolute">
            <div class="suggestion-cta center">
                <button class="cta">
                    Travel options
                </button>
                <br>
                <i class="fa fa-car"></i>
                <i class="fa fa-bus"></i>
                <i class="fa fa-plane-departure"></i>
            </div>
        </div>

    </div>
    
    
</div>