<div class="parent columns relative">
    <div class="column section-padding is-half section">
        <div class="photos-sm circular-img center wow animate__zoomIn animate__animated" data-wow-delay="1s"
            [ngStyle]="{'background-image':'url(../../../assets/images/marathi/bride.jpg)'}">
        </div>
        <div class="wow center">
            <div class="name wow typewriter-without-caret">
                Deepika Prakash Padukone
            </div>
            <div class="info ">
                <div class="profession" >
                    (Actor, Model)
                </div>
                <div class="wow intro">
                    Born in Copenhagen on 5 January 1986 and raised in Bangalore.Now lives in Mumbai. Eldest daughter of 
                    <a class="links" href="#bride-dad">Prakash Padukone</a>
                    and 
                    <a class="links" href="#bride-mom">Ujjala Padukone.</a>
                    <br>
                    Completed her pre-university education at Mount Carmel College.
                    <div class="philosophy center">
                        <div class="title">Believes in</div>
                        <img class="quote-start" src="../../../assets/icons/quote.png"/>
                        <p class="center quotes">Money can buy both candies and books.</p>
                        <img class="quote-end" src="../../../assets/icons/quote.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-accounts center">
            <a href="www.facebook.com">
                <img src="../../../assets/icons/facebook.png"/>
            </a>
            <a href="www.twitter.com">
                <img src="../../../assets/icons/twitter.png"/>
            </a>
            <a href="www.facebook.com">
                <img src="../../../assets/icons/instagram.png"/>
            </a>
            <a href="www.facebook.com">
                <img src="../../../assets/icons/internet.png"/>
            </a>
            <a href="www.facebook.com">
                <img src="../../../assets/icons/linkedin.png"/>
            </a>
        </div>
        <!-- <img class="full-img" src=""/> -->
    </div>
    <div class="divider-vertical">

    </div>
    <div class="column section-padding is-half section">
        <div class="photos-sm circular-img center wow animate__zoomIn animate__animated" data-wow-delay="1s"
            [ngStyle]="{'background-image':'url(../../../assets/images/marathi/groom.cms)'}">
        </div>
        <div class="wow center">
            <div class="name wow typewriter-without-caret">
                Ranveer Singh Bhavnani
            </div>
            <div class="info ">
                <div class="profession" >
                    (Actor, Lyricist, Youtuber, Playback Singer)
                </div>
                <div class="wow intro">Born in Delhi on 6 July 1985. Moved to Mumbai 2 Years back for completing life goals.
                    Youngest son of 
                    <a class="links" href="#groom-dad">Anju Singh Bhavnani</a> and <a class="links" href="#groom-mom">Jagjit Singh Bhavnani</a>.
                    <br>
                    Completed Bachelor of Arts from Indiana University. 
                    <br>
                    
                    <div class="philosophy center">
                        <div class="title">Believes in</div>
                        <img class="quote-start" src="../../../assets/icons/quote.png"/>
                        <p class="center quotes">Books cannot buy you candies.</p>
                        <img class="quote-end" src="../../../assets/icons/quote.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-accounts center">
            <a href="www.facebook.com">
                <img src="../../../assets/icons/facebook.png"/>
            </a>
            <a href="www.twitter.com">
                <img src="../../../assets/icons/twitter.png"/>
            </a>
            <a href="www.facebook.com">
                <img src="../../../assets/icons/instagram.png"/>
            </a>
            <a href="www.facebook.com">
                <img src="../../../assets/icons/whatsapp.png"/>
            </a>
        </div>
    </div>

   
</div>